.content {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    flex-wrap: wrap;
    min-width: 944px;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

/* header  */
.header {
    background: #FFF159;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    width: 100;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 74px;
    column-gap: 24px;
    padding: 8px 10px 12px 10px;
    row-gap: 12px;
    background: #FFF159;
}

.row {
    flex: 1 0 auto;
    height: 34px;
}

.row-1 {
    flex-basis: 12%;
}


.row-2 {
    flex-basis: 46%;
}

.row-2>.search-box {
    width: 98%;
    height: 39px;
    left: 195px;
    right: 1px;
    top: 8px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border-radius: 2px;
    padding-left: 15px;
    border: none;
}

.row-2>.search-box:focus {
    border-style: solid;
    border-color: #3483fa;
    border-width: 1.5px;
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    outline: 0;
}

.row-2>.search-box::placeholder {
    width: 100%;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.25);
}

.row-3 {
    flex-basis: 35%;
}

.row-4 {
    flex-basis: 12%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.row-4>a {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
}

.row-5 {
    flex-basis: 46%;
    display: flex;
    align-items: flex-end;
}

.row-6 {
    flex-basis: 35%;
    display: flex;
    align-items: flex-end;
}

.row-6>.menu {
    justify-content: center !important;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    column-gap: 13px;
}

.menu .categoria::before {
    content: "";
    border: solid rgba(51, 51, 51, 0.6);
    ;
    border-width: 0 2px 2px 0;
    float: right;
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    transform: rotate(45deg);
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
}

.menu li a {
    display: flex;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(51, 51, 51, 0.6);
    align-items: flex-start;
}

.menu li:hover a {
    color: rgba(51, 51, 51, .9);
}

/*HEADER*/

/*NOVEDADES*/

.novedades {
    width: 100%;
    display: flex;
    flex-basis: 100%;
}

.novedades>img {
    width: 100%;
}

/*NOVEDADES*/

/*BANNER-SUP*/
.body {
    min-width: inherit;
    display: flex;
    flex-basis: 100%;
    background-color: #EBEBEB;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

.main-content {
    margin-top: 40px;
    display: flex;
    min-width: 500px;
}

.banner-sup {
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-width: 903px;
    max-width: 1184px;
    width: 95%;
}

.banner-sup div {
    height: 100%;
    justify-content: center;
    display: flex;
    margin-left: 20px;
    width: 225px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 25%;
}

.banner-sup div>img {
    display: flex;
    order: 1;
    flex: 0 0 100%;
    width: 50px;
}

.banner-sup div>span {
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    order: 2;
    flex: 0 0 28%;
    width: 72%;
}

.banner-sup div>a {
    display: flex;
    position: relative;
    order: 3;
    text-decoration: none;
    color: #3483FA;
}

.line {
    border-left: 1px solid #ccc;
    height: 100%;
}

/*BANNER-SUP*/

/*SECCION OFERTA*/
.banner-base {
    margin-top: 50px;

    min-width: 903px;
    max-width: 1184px;
}

.banner-oferta {

    flex-direction: column;
}

.banner-titulo {
    display: flex;
    gap: 16px;
    margin-bottom: 22px;
}

.banner-titulo>span {
    font-size: 25px;
    line-height: 31px;
    color: #666666;
}

.banner-titulo>a {
    display: flex;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    line-height: 19px;
    color: #3483FA;
    align-items: flex-end;
}

.banner-content {
    display: flex;
    gap: 1%;
}

.card {
    width: 20%;
    height: 350px;
    top: 0px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card>div:first-child {
    width: 100%;
    min-height: 45%;
    height: 60%;
    border-bottom: solid 1px #dad8d8;
    justify-content: center;
    display: flex;
    /* flex-basis: 14%; */
}

.card>div:nth-child(2) {
    height: 88px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card>div:nth-child(2)>span:nth-child(1) {
    font-size: 23px;
    line-height: 24px;
    display: flex;
    flex-basis: 40%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
}

.card>div:nth-child(2)>span:nth-child(2) {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #00A650;
    flex-basis: 32%;
    margin-left: 5px;
}

.card>div:nth-child(2)>span:nth-child(3) {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-start;
    color: #00A650;
    justify-content: flex-start;
    flex-basis: 100%;
    margin-left: 16px;
}

.card>div:nth-child(2)>span:nth-child(3)>svg {
    top: 2px;
    position: relative;
    left: 4px;
}

.card>img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.banner-subscripcion {
    margin-top: 57px;
    margin-bottom: 10px;
    width: 100%;
    background: #FFFFFF;
    min-width: 903px;
    overflow: hidden;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    border-radius: 6px;
}

.banner-subscripcion>.banner-subscipcion-header {
    height: 87px;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.banner-subscripcion>.banner-subscipcion-header>span:nth-child(1) {
    flex-basis: calc(100% - 190px);
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 24px;
}

.banner-subscripcion>.banner-subscipcion-header>div:nth-child(3) {
    display: flex;
    flex-basis: 150px;
    justify-content: flex-start;
    color: #FFFFFF;
    flex-wrap: wrap;
}

.banner-subscripcion>.banner-subscipcion-header>div:nth-child(3)>span:nth-child(1) {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 8px;
}

.banner-subscripcion>.banner-subscipcion-header>div:nth-child(3)>span:nth-child(2) {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: flex-start;
    flex-basis: 55%;
    justify-content: flex-start;
}

.banner-subscripcion>.banner-subscipcion-header>div:nth-child(3)>span:nth-child(3) {
    display: flex;
    top: 6px;
    position: relative;
}

.banner-subscripcion>.banner-subscipcion-header>div:nth-child(2) {
    display: flex;
    width: 10px;
    align-items: center;
}

.subscripcion-line {
    border-left: 3px solid #FFFFFF;
    height: 48%;
    display: flex;
    position: relative;
}

.banner-subscripcion>.banner-subscipcion-middle {
    height: 172px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #EDEDED;
}

.banner-subscripcion>.banner-subscipcion-middle>span {
    display: flex;
    width: 97%;
    align-items: flex-start;
    left: 24px;
    position: relative;
    top: 20px;
    font-size: 17px;
    line-height: 18px;
}

.banner-subscripcion>.banner-subscipcion-middle>.banner-subscripcion-item {
    display: flex;
    width: 33%;
    flex-wrap: wrap;
    flex-direction: row;
    height: 74px;
    gap: 15px;
}

.banner-subscripcion>.banner-subscipcion-middle>.banner-subscripcion-item>img {
    display: flex;
    margin-left: 24px;
}

.banner-subscripcion>.banner-subscipcion-middle>.banner-subscripcion-item>span {
    position: relative;
    display: flex;
    width: 37%;
    align-items: center;
    font-size: 15px;
    line-height: 16px;
}

.banner-subscipcion-footer {
    height: 81px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    right: 30px;
    position: relative;
}

.btn-primario {
    width: 123.72px;
    height: 48px;
    background: #3483FA;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
}

.btn-primario:hover {
    cursor: pointer;
    background: #257bfc;
}

/*SECCION OFERTA*/

/*SECCION BENEFICIOS*/
.banner-beneficios {
    display: grid;
}

.banner-beneficios-content {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.beneficio-card {
    min-width: 100px;
    min-height: 100px;
    top: 0px;
    max-width: 384px;
    max-height: 250px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.beneficio-card>.background {
    width: 100%;
}

.beneficio-card>.icon {
    position: absolute;
    left: 15px;
    bottom: 16px;
}

.beneficio-card>div {
    position: absolute;
    height: 124px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}

.beneficio-card span:nth-of-type(1) {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 112px;
    bottom: 57px;
}

.beneficio-card span:nth-of-type(2) {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    position: absolute;
    left: 112px;
    bottom: 32px;
}

.beneficio-card span:nth-of-type(3) {
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 112px;
    bottom: 75px;
}

.gradient-blue {
    background: linear-gradient(0deg, #0064FF 0%, rgba(0, 100, 255, 0) 100%);
}

.gradient-purple {
    background: linear-gradient(0deg, #3C034E 0%, rgba(60, 3, 78, 0) 100%);
}

.gradient-black {
    background: linear-gradient(0deg, #081330 0%, rgba(8, 19, 48, 0) 100%);
}

/*SECCION BENEFICIOS*/


/*SECCION DESCUBRE*/
.banner-descubre {
    display: grid;
}

.banner-descubre-content {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.descubre-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-width: 100px;
    min-height: 100px;
    max-width: 584px;
    max-height: 250px;
    display: grid;
    grid-template-columns: auto auto;
}

.descubre-card span:nth-of-type(1) {
    position: relative;
    left: 32px;
    top: 58px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4B4B4B;
}

.descubre-card span:nth-of-type(2) {
    position: relative;
    left: 32px;
    top: 81px;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
    color: #4B4B4B;
    display: block;
}

.descubre-card button {
    position: relative;
    width: 96px;
    height: 36px;
    left: 32px;
    top: 89.59px;
    background: #3483FA;
    border-radius: 2px;
    color: #FFFFFF;
    border: none;
    cursor: pointer
}

/*SECCION DESCUBRE*/

/*SECCION MEJORES TIENDAS*/
.banner-mejores-tiendas {
    display: grid;
    margin-bottom: 100px;
}

.banner-mejores-tiendas-content {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.mejores-tiendas-card {

    max-width: 284px;
    max-height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.mejores-tiendas-card img:nth-of-type(1) {
    height: 95px;
    position: relative;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1;
}

.mejores-tiendas-card img:nth-of-type(2) {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    top: 56px;
    height: 80px;
    grid-column: 2/3;
    grid-row: 1/1;
    justify-self: center;
}

.mejores-tiendas-card span:nth-of-type(1) {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    justify-content: center;
    display: grid;
    grid-column: 2;
    grid-row: 3;
}

.mejores-tiendas-card span:nth-of-type(2) {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-self: center;
    color: #999999;
    grid-column: 2;
    grid-row: 5;
    cursor: pointer;
}

.mejores-tiendas-card img:nth-of-type(3) {
    grid-column: 1;
    grid-row: 4;
    justify-self: right;
}

.mejores-tiendas-card img:nth-of-type(4) {
    grid-column: 3;
    grid-row: 4;
}

.mejores-tiendas-card img:nth-of-type(5) {
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
}


.mejores-tiendas-card>.border-img {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

/*SECCION MEJORES TIENDAS*/

/*SECCION COLECCIONES*/
.banner-colecciones {
    display: grid;
    margin-bottom: 100px;
}

.colecciones-list {
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #666666;
    text-decoration: none;
}

.colecciones-list::before {
    content: "";
    border: solid rgba(51, 51, 51, 0.6);
    ;
    border-width: 0 2px 2px 0;
    float: right;
    vertical-align: middle;
    margin-top: 13px;
    margin-right: 5px;
    margin-left: 5px;
    transform: rotate(45deg);
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
}

.banner-colecciones-content {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
}

.banner-colecciones-content>.first-item {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
    width: 100%;
}

.banner-colecciones-content>div {
    background-color: #FFFFFF;
    text-align: center;
}

.banner-colecciones-content>div>span:nth-last-of-type(2) {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 20px;
}

.banner-colecciones-content>div>span:nth-last-of-type(1) {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #4B4B4B;
    margin-left: 25px;
    margin-top: 4px;
}

/*SECCION COLECCIONES*/

@media screen and (max-width: 1500px) {
    .card>div:first-child {
        height: 50%;
    }

}

@media screen and (max-width: 1282px) {
    .main-content {
        margin-left: calc(3% + 1px);
        margin-right: calc(5% + 1px);
    }

    .descubre-card span:nth-of-type(2) {
        font-size: calc(28px - 3px);
    }

    .descubre-card span:nth-of-type(1) {
        font-size: calc(12px - 1px);
    }

    .banner-colecciones-content {
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
    }
}

@media screen and (max-width: 1213px) {
    .grid-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .descubre-card span:nth-of-type(2) {
        font-size: calc(28px - 10px);
    }

    .descubre-card span:nth-of-type(1) {
        font-size: calc(12px - 3px);
    }

}

@media screen and (max-width: 1100px) {
    .banner-colecciones-content {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 979px) {

    .row {
        flex-basis: calc(100% / 2 - 10px);
    }

    .row-3 {
        display: none;
    }

    .menu {
        justify-content: center;
    }

    .row-1 {
        text-align: center;

    }

    .descubre-card span:nth-of-type(2) {
        font-size: calc(28px -8px);
    }

    .descubre-card span:nth-of-type(1) {
        font-size: calc(12px - 3px);
    }

    .banner-colecciones-content {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
    }

}

@media screen and (max-width: 480px) {
    .row {
        flex-basis: 100%;
    }

}